@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&display=swap');

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    max-width: 100%;
    height: 100vh;
    padding: 2% 3%;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header-nav-logo {
    color: var(--White);
    font-family: var(--Barlow);
    font-size: 35px;
    font-weight: 900;
}

.header-nav-links a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-transform: capitalize;
    font-family: var(--Barlow);
    font-size: 17px;
    color: var(--White);
    opacity: 0.8;
}

.header-nav-links a:hover {
    color: var(--Very-dark-grayish-blue);
}

.header-nav-links a:active {
    color: var(--Very-dark-grayish-blue);
    text-decoration: underline;
}

.header-nav-links .contact {
    background: var(--White);
    color: var(--Black);
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-size: 14px;
    font-weight: 800;
    border-radius: 25px;
}

.header-nav-links .contact:hover {
    background: var(--Grayish-blue);
    color: var(--White);
}

.header h1 {
    text-align: center;
    color: var(--White);
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}

.header img {
    position: absolute;
    top: 44%;
    left: 49%;
}

.brand-items {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    align-items: center;
    justify-content: center;
}

.brand-text {
    padding-left: 15%;
}

.brand-text h3 {
    font-family: var(--Fraunces);
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 25px;
}

.brand-text p {
    font-family: var(--Barlow);
    color: var(--Very-dark-grayish-blue);
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.brand-text .btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--Fraunces);
    font-size: 13px;
    font-weight: 900;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--Soft-red);
    cursor: pointer;
}

.brand-text .yellow {
    background: var(--Yellow);
}

.brand-design {
    position: relative;
}

.design-text {
    position: absolute;
    top: 65%;
    left: 20%;
    text-align: center;
}

.design-text h3 {
    font-family: var(--Fraunces);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 25px;
}

.design-text p {
    color: var(--Dark-desaturated-cyan);
    font-family: var(--Barlow);
    font-size: 15px;
    line-height: 1.5;
}

.photo-text {
    position: absolute;
    top: 65%;
    left: 62%;
    text-align: center;
}

.photo-text h3 {
    font-family: var(--Fraunces);
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 25px;
}

.photo-text p {
    color: var(--Dark-blue);
    font-family: var(--Barlow);
    font-size: 15px;
    line-height: 1.5;
}

.testimonials {
    position: relative;
    display: block;
    background: var(--White);
    padding: 6% 8%;
    margin-bottom: 0px;
}

.testimonials h4 {
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 27px;
    margin-bottom: 5%;
    color: var(--Grayish-blue);
}

.testimonal-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial-items img {
   display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 40px;
}

.testimonial-items p {
    color: var(--Very-dark-grayish-blue);
    font-family: var(--Barlow);
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}

.testimonial-items span {
    text-align: center;
    line-height: 2.0;
}

.testimonial-items span h6 {
    font-family: var(--Fraunces);
    font-weight: 700;
}

.testimonial-items span p {
    font-family: var(--Barlow);
    font-size: 14px;
    color: var(--Grayish-blue);
}