@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&display=swap');

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.header {
    max-width: 100%;
    height: 100vh;
    padding: 2% 3%;
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.header-nav-logo {
    color: var(--White);
    font-family: var(--Barlow);
    font-size: 2.1875rem;
    font-weight: 900;
}

.header-nav-links a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-transform: capitalize;
    font-family: var(--Barlow);
    font-size: 1.125rem;
    color: var(--White);
    opacity: 0.8;
}

.header-nav-links a:hover,
.header-nav-links a:active {
    color: var(--Very-dark-grayish-blue);
}

.header-nav-links .contact {
    background: var(--White);
    color: var(--Black);
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-size: 0.8125rem;
    font-weight: 800;
    border-radius: 25px;
}

.header-nav-links .contact:hover,
.header-nav-links .contact:active {
    background: var(--Grayish-blue);
    color: var(--White);
}

.header h1 {
    text-align: center;
    color: var(--White);
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-size: 3.125rem;
    font-weight: 900;
}

.header img {
    position: absolute;
    top: 44%;
    left: 49%;
}

.brand-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
}

.brand-text {
    padding: 18% 12%;
}

.brand-text h3 {
    font-family: var(--Fraunces);
    width: 450px;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 45px;
    margin-bottom: 30px;
}

.brand-text p {
    width: 450px;
    font-family: var(--Barlow);
    font-size: 1.125rem;
    color: var(--Very-dark-grayish-blue);
    line-height: 25px;
    margin-bottom: 50px;
}

.brand-text .btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--Fraunces);
    font-size: 0.8125rem;
    font-weight: 900;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--Soft-red);
    cursor: pointer;
}

.brand-text .yellow {
    background: var(--Yellow);
}

.brand-image-1 {
    background-image: url(images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-image-1 img{
    display: none;
}

.brand-image-2 {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-image-2 img {
    display: none;
}

.move {
    height: 80vh;
}

.brand-design {
    position: relative;
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-design img {
    display: none;
}

.design-text,
.photo-text {
    position: absolute;
    top: 60%;
    left: 25%;
    text-align: center;
}

.design-text h3 {
    font-family: var(--Fraunces);
    font-size: 1.75rem;
    color: var(--Dark-desaturated-cyan);
    font-weight: 900;
    margin-bottom: 25px;
}

.design-text p {
    width: 350px;
    color: var(--Dark-desaturated-cyan);
    font-family: var(--Barlow);
    line-height: 25px;
}

.brand-photo {
    position: relative;
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-photo img {
    display: none;
}

.photo-text h3 {
    font-family: var(--Fraunces);
    color: var(--Dark-blue);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 25px;
}

.photo-text p {
    width: 350px;
    color: var(--Dark-blue);
    font-family: var(--Barlow);
    line-height: 25px;
}

.testimonials {
    display: block;
    background: var(--White);
    padding: 6% 8%;
    margin-bottom: 0px;
}

.testimonials h4 {
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
    color: var(--Grayish-blue);
    letter-spacing: 2px;
}

.testimonal-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
    text-align: center;
}

.testimonial-items img {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 40px;
}

.testimonial-items p {
    width: 320px;
    color: var(--Very-dark-grayish-blue);
    font-family: var(--Barlow);
    font-weight: 500;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.testimonial-items span {
    text-align: center;
    line-height: 30px;
}

.testimonial-items span h6 {
    font-family: var(--Fraunces);
    font-size: 1.2rem;
    font-weight: 700;
}

.testimonial-items span p {
    font-family: var(--Barlow);
    color: var(--Grayish-blue);
}

.grid-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
}

.footer {
    width: 100%;
    height: auto;
    background: hsl(167, 60%, 72%);
}

.footer h5 {
    font-family: var(--Barlow);
    color: var(--Dark-moderate-cyan);
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.footer-nav {
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

.footer-nav a {
    text-transform: capitalize;
    font-family: var(--Barlow);
    color: var(--Dark-desaturated-cyan);
    padding: 10px 14px;
    font-weight: 500;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: var(--White);
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.footer-socials img {
    padding: 0px 14px;
    cursor: pointer;
}

.footer-socials img:first-child {
    padding-left: 0px;
}

/* Media Queries  for various screen sizes*/

@media (max-width: 600px) {
    
}