@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700;900&display=swap');

:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Barlow: 'Barlow', sans-serif;
    --Fraunces: 'Fraunces', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-size: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.header {
    max-width: 100%;
    height: 100vh; 
    background-image: url(images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.header-nav {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    padding: 2% 3%;
}

.header-nav-logo {
    color: var(--White);
    font-family: var(--Barlow);
    font-size: 2.1875rem;
    font-weight: 900;
    letter-spacing: 1px;
}

.header-nav-links a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-transform: capitalize;
    font-family: var(--Barlow);
    font-size: 1.125rem;
    color: var(--White);
    opacity: 0.8;
}

.header-nav-links a:hover,
.header-nav-links a:active {
    color: var(--Very-dark-grayish-blue);
}

.header-nav-links .contact {
    background: var(--White);
    color: var(--Black);
    text-transform: uppercase;
    font-family: var(--Fraunces);
    font-size: 0.8rem;
    font-weight: 800;
    border-radius: 25px;
}

.header-nav-links .contact:hover,
.header-nav-links .contact:active {
    background: var(--Grayish-blue);
    color: var(--White);
}

.header h1 {
    text-align: center;
    color: var(--White);
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-size: 3.125rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.header img {
    position: absolute;
    top: 44%;
    left: 49%;
}

.brand-items {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
}

.brand-text {
    padding: 18% 12%;
}

.brand-text h3 {
    font-family: var(--Fraunces);
    width: 450px;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 45px;
    margin-bottom: 30px;
}

.brand-text p {
    width: 450px;
    font-family: var(--Barlow);
    font-size: 1.125rem;
    color: var(--Very-dark-grayish-blue);
    line-height: 25px;
    margin-bottom: 50px;
}

.brand-text .btn {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: var(--Fraunces);
    font-size: 0.8125rem;
    font-weight: 900;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--Soft-red);
    cursor: pointer;
}

.brand-text .yellow {
    background: var(--Yellow);
}

.brand-image-1 img, 
.brand-image-2 img {
    display: none;
}

.brand-image-1 {
    background-image: url(images/desktop/image-transform.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-image-2 {
    background-image: url(images/desktop/image-stand-out.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.brand-design {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0;
    margin-bottom: 0;
}

.graphic-design {
    background-image: url(images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 50% 20% 10% 25%;
    text-align: center;
}

.graphic-design h3 {
    font-family: var(--Fraunces);
    font-size: 1.75rem;
    color: var(--Dark-desaturated-cyan);
    font-weight: 900;
    margin-bottom: 25px;
}

.graphic-design p {
    width: 350px;
    color: var(--Dark-desaturated-cyan);
    font-family: var(--Barlow);
    line-height: 25px;
}

.photography {
    background-image: url(images/desktop/image-photography.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 50% 20% 10% 25%;
    text-align: center;
}

.photography h3 {
    font-family: var(--Fraunces);
    color: var(--Dark-blue);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 25px;
}

.photography p {
    width: 350px;
    color: var(--Dark-blue);
    font-family: var(--Barlow);
    line-height: 25px;
}

.testimonials {
    display: block;
    background: var(--White);
    padding: 6% 8%;
    margin-bottom: 0px;
}

.testimonials h4 {
    font-family: var(--Fraunces);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
    color: var(--Grayish-blue);
    letter-spacing: 2px;
}

.testimonal-grid {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
    text-align: center;
}

.testimonial-items img {
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 40px;
}

.testimonial-items p {
    width: 320px;
    color: var(--Very-dark-grayish-blue);
    font-family: var(--Barlow);
    font-weight: 500;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.testimonial-items span {
    text-align: center;
    line-height: 30px;
}

.testimonial-items span h6 {
    font-family: var(--Fraunces);
    font-size: 1.2rem;
    font-weight: 700;
}

.testimonial-items span p {
    font-family: var(--Barlow);
    color: var(--Grayish-blue);
}

.grid-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0px;
    margin-bottom: 0;
}

.footer {
    width: 100%;
    height: auto;
    background: hsl(167, 60%, 72%);
}

.footer h5 {
    font-family: var(--Barlow);
    color: var(--Dark-moderate-cyan);
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 30px;
}

.footer-nav {
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

.footer-nav a {
    text-transform: capitalize;
    font-family: var(--Barlow);
    color: var(--Dark-desaturated-cyan);
    padding: 10px 14px;
    font-weight: 500;
}

.footer-nav a:hover,
.footer-nav a:active {
    color: var(--White);
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
}

.footer-socials img {
    padding: 0px 14px;
    cursor: pointer;
}

.footer-socials img:first-child {
    padding-left: 0px;
}

/* Media Queries  for various screen sizes*/

@media (max-width: 600px) {
    .header {
        width: 100%;
        background-image: url(images/mobile/image-header.jpg);
    }

    .header-nav {
        margin-bottom: 120px;
        padding: 4% 8%;
    }

    .header-nav-logo {
        font-size: 2rem;
    }

    .header-nav-links a {
        display: none;
    }

    .header h1 {
        font-size: 2.8rem;
    }

    .header img {
        top: 55%;
    }

    .brand-items {
        width: 100%;
    }

    .brand-image-1 img {
        display: block;
    }

    .brand-image-2{
        display: block;
    }

    .reverse {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .brand-text h3 {
        width: 100%;
        font-size: 2.2rem;
        text-align: center;
    }

    .brand-text p {
        width: 100%;
        font-size: 1.05rem;
        text-align: center;
    }
    
    .brand-text .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .graphic-design {
        background-image: url(images/mobile/image-graphic-design.jpg);
        padding: 90% 15% 15% 15%;
    }

    .photography {
        background-image: url(images/mobile/image-photography.jpg);
        padding: 110% 15% 15% 15%;
    }

    .graphic-design h3,
    .photography h3 {
        font-size: 1.65rem;
    }

    .graphic-design p,
    .photography p {
        width: 100%;
        font-size: 0.8rem;
    }

    .testimonials {
        width: 100%;
        padding: 20% 8%;
    }

    .testimonials h4 {
        width: 100%;
        font-size: 1.45rem;
        margin-bottom: 20%;
    }

    .testimonial-items p {
        width: 100%;
        font-size: 1.2rem;
    }

    .testimonial-items span h6 {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .grid-images {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .grid-images .mob-1 {
        background-image: url(images/mobile/image-gallery-milkbottles.jpg);
    }

    .grid-images .mob-2 {
        background-image: url(images/mobile/image-gallery-orange.jpg);
    }

    .grid-images .mob-3 {
        background-image: url(images/mobile/image-gallery-cone.jpg);
    }

    .grid-images .mob-4 {
        background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
    }

    .mob-1,
    .mob-2,
    .mob-3,
    .mob-4 {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
    }
}

@media (min-width: 700px) and (max-width: 998px) {
    .header-nav {
        margin-bottom: 20%;
    }

    .header img {
        top: 46%;
    }

    .brand-items {
        width: 100%;
    }

    .brand-text {
        padding: 20% 10%;
    }

    .brand-text h3 {
        width: 100%;
        font-size: 2.3rem;
    }

    .brand-text p {
        width: 100%;
        font-size: 0.95rem;
    }

    .brand-design {
        width: 100%;
    }

    .graphic-design,
    .photography {
        padding: 90% 15% 25% 15%;
    }

    .graphic-design h3,
    .photography h3 {
        font-size: 2.0rem;
    }

    .graphic-design p,
    .photography p {
        width: 100%;
        font-size: 0.8rem;
    }

    .testimonials {
        width: 100%;
        padding: 10% 5%;
    }

    .testimonials h4 {
        font-size: 2.5rem;
        margin-bottom: 10%;
    }

    .testimonal-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 25px;
    }

    .testimonial-items p {
        width: 100%;
        font-size: 0.70rem;
    }

    .grid-images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}